<div class="heading secondary-header">Here it is — the best flag.</div>
<div class="wrapper center main-wrapper">
<%= image_tag @flag.image_url, class: "best-image" %>
</div>
<div class="center wrapper">
    <%=link_to "See inferior flags", flags_path, class: "ui button"%>
</div>